[submodule "smash_library/compression_libraries/zling_/libzling"]
	path = smash_library/compression_libraries/zling_/libzling
	url = git@github.com:cpenaranda/libzling.git
[submodule "smash_library/compression_libraries/zstd_/zstd"]
	path = smash_library/compression_libraries/zstd_/zstd
	url = git@github.com:cpenaranda/zstd.git
[submodule "smash_library/compression_libraries/zlib-ng_/zlib-ng"]
	path = smash_library/compression_libraries/zlib-ng_/zlib-ng
	url = git@github.com:cpenaranda/zlib-ng.git
[submodule "smash_library/compression_libraries/zlib_/zlib"]
	path = smash_library/compression_libraries/zlib_/zlib
	url = git@github.com:cpenaranda/zlib.git
[submodule "smash_library/compression_libraries/xpack_/xpack"]
	path = smash_library/compression_libraries/xpack_/xpack
	url = git@github.com:cpenaranda/xpack.git
[submodule "smash_library/compression_libraries/wflz_/wflz"]
	path = smash_library/compression_libraries/wflz_/wflz
	url = git@github.com:cpenaranda/wflz.git
[submodule "smash_library/compression_libraries/snappy_/snappy"]
	path = smash_library/compression_libraries/snappy_/snappy
	url = git@github.com:cpenaranda/snappy.git
[submodule "smash_library/compression_libraries/pithy_/pithy"]
	path = smash_library/compression_libraries/pithy_/pithy
	url = git@github.com:cpenaranda/pithy.git
[submodule "smash_library/compression_libraries/ms_/ms-compress"]
	path = smash_library/compression_libraries/ms_/ms-compress
	url = git@github.com:cpenaranda/ms-compress.git
[submodule "smash_library/compression_libraries/miniz_/miniz"]
	path = smash_library/compression_libraries/miniz_/miniz
	url = git@github.com:cpenaranda/miniz.git
[submodule "smash_library/compression_libraries/lzsse_/LZSSE"]
	path = smash_library/compression_libraries/lzsse_/LZSSE
	url = git@github.com:cpenaranda/LZSSE.git
[submodule "smash_library/compression_libraries/lzo_/lzo"]
	path = smash_library/compression_libraries/lzo_/lzo
	url = git@github.com:cpenaranda/lzo.git
[submodule "smash_library/compression_libraries/lzmat_/lzmat"]
	path = smash_library/compression_libraries/lzmat_/lzmat
	url = git@github.com:cpenaranda/lzmat.git
[submodule "smash_library/compression_libraries/lzjb_/lzjb"]
	path = smash_library/compression_libraries/lzjb_/lzjb
	url = git@github.com:cpenaranda/lzjb.git
[submodule "smash_library/compression_libraries/lzham_/lzham_codec_devel"]
	path = smash_library/compression_libraries/lzham_/lzham_codec_devel
	url = git@github.com:cpenaranda/lzham_codec_devel.git
[submodule "smash_library/compression_libraries/lzfse_/lzfse"]
	path = smash_library/compression_libraries/lzfse_/lzfse
	url = git@github.com:cpenaranda/lzfse.git
[submodule "smash_library/compression_libraries/lz4_/lz4"]
	path = smash_library/compression_libraries/lz4_/lz4
	url = git@github.com:cpenaranda/lz4.git
[submodule "smash_library/compression_libraries/lodepng_/lodepng"]
	path = smash_library/compression_libraries/lodepng_/lodepng
	url = git@github.com:cpenaranda/lodepng.git
[submodule "smash_library/compression_libraries/lizard_/lizard"]
	path = smash_library/compression_libraries/lizard_/lizard
	url = git@github.com:cpenaranda/lizard.git
[submodule "smash_library/compression_libraries/liblzg_/liblzg"]
	path = smash_library/compression_libraries/liblzg_/liblzg
	url = git@github.com:cpenaranda/liblzg.git
[submodule "smash_library/compression_libraries/libdeflate_/libdeflate"]
	path = smash_library/compression_libraries/libdeflate_/libdeflate
	url = git@github.com:cpenaranda/libdeflate.git
[submodule "smash_library/compression_libraries/libbsc_/libbsc"]
	path = smash_library/compression_libraries/libbsc_/libbsc
	url = git@github.com:cpenaranda/libbsc.git
[submodule "smash_library/compression_libraries/heatshrink_/heatshrink"]
	path = smash_library/compression_libraries/heatshrink_/heatshrink
	url = git@github.com:cpenaranda/heatshrink.git
[submodule "smash_library/compression_libraries/gipfeli_/gipfeli"]
	path = smash_library/compression_libraries/gipfeli_/gipfeli
	url = git@github.com:cpenaranda/gipfeli.git
[submodule "smash_library/compression_libraries/flzma2_/fast-lzma2"]
	path = smash_library/compression_libraries/flzma2_/fast-lzma2
	url = git@github.com:cpenaranda/fast-lzma2.git
[submodule "smash_library/compression_libraries/fse_/FiniteStateEntropy"]
	path = smash_library/compression_libraries/fse_/FiniteStateEntropy
	url = git@github.com:cpenaranda/FiniteStateEntropy.git
[submodule "smash_library/compression_libraries/flz_/fastlz"]
	path = smash_library/compression_libraries/flz_/fastlz
	url = git@github.com:cpenaranda/fastlz.git
[submodule "smash_library/compression_libraries/csc_/CSC"]
	path = smash_library/compression_libraries/csc_/CSC
	url = git@github.com:cpenaranda/CSC.git
[submodule "smash_library/compression_libraries/zpaq_/zpaq"]
	path = smash_library/compression_libraries/zpaq_/zpaq
	url = git@github.com:cpenaranda/zpaq.git
[submodule "smash_library/compression_libraries/density_/density"]
	path = smash_library/compression_libraries/density_/density
	url = git@github.com:cpenaranda/density.git
[submodule "smash_library/compression_libraries/c-blosc2_/c-blosc2"]
	path = smash_library/compression_libraries/c-blosc2_/c-blosc2
	url = git@github.com:cpenaranda/c-blosc2.git
[submodule "smash_library/compression_libraries/brotli_/brotli"]
	path = smash_library/compression_libraries/brotli_/brotli
	url = git@github.com:cpenaranda/brotli.git
[submodule "smash_library/compression_libraries/brieflz_/brieflz"]
	path = smash_library/compression_libraries/brieflz_/brieflz
	url = git@github.com:cpenaranda/brieflz.git
[submodule "smash_library/compression_libraries/bzip2_/bzip2"]
	path = smash_library/compression_libraries/bzip2_/bzip2
	url = git@github.com:cpenaranda/bzip2.git
[submodule "smash_library/compression_libraries/lzfx_/lzfx"]
	path = smash_library/compression_libraries/lzfx_/lzfx
	url = git@github.com:cpenaranda/lzfx.git
[submodule "smash_library/compression_libraries/yalz77_/yalz77"]
	path = smash_library/compression_libraries/yalz77_/yalz77
	url = git@github.com:cpenaranda/yalz77.git
[submodule "smash_library/compression_libraries/quicklz_/quicklz"]
	path = smash_library/compression_libraries/quicklz_/quicklz
	url = git@github.com:cpenaranda/quicklz.git
[submodule "smash_library/compression_libraries/z3lib_/z3lib"]
	path = smash_library/compression_libraries/z3lib_/z3lib
	url = git@github.com:cpenaranda/z3lib.git
[submodule "smash_library/compression_libraries/ucl_/ucl"]
	path = smash_library/compression_libraries/ucl_/ucl
	url = git@github.com:cpenaranda/ucl.git
[submodule "smash_library/compression_libraries/lzf_/liblzf"]
	path = smash_library/compression_libraries/lzf_/liblzf
	url = git@github.com:cpenaranda/liblzf.git
[submodule "smash_library/compression_libraries/lzma_/xz"]
	path = smash_library/compression_libraries/lzma_/xz
	url = git@github.com:cpenaranda/xz.git
[submodule "datasets/AI-dataset"]
	path = datasets/AI-dataset
	url = git@github.com:cpenaranda/AI-dataset.git
