# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folder/files
build*

# Other
*history_*
.vscode
.ptp-*
.externalToolBuilders
.settings
.cporject
nbproject
.project
.cproject
*licensekey*
.autotools
.nfs*
compression_libraries/lzfx_/lzfx-0.1.tar.gz
compression_libraries/lzfx_/lzfx
compression_libraries/z3lib_/z3lib-1.3.tar.gz
compression_libraries/z3lib_/z3lib
compression_libraries/ucl_/ucl
compression_libraries/ucl_/ucl-1.03.tar.gz
