[submodule "compression_libraries/brieflz_/brieflz"]
	path = compression_libraries/brieflz_/brieflz
	url = https://github.com/jibsen/brieflz.git
[submodule "compression_libraries/brotli_/brotli"]
	path = compression_libraries/brotli_/brotli
	url = https://github.com/google/brotli.git
[submodule "compression_libraries/bzip2_/bzip2"]
	path = compression_libraries/bzip2_/bzip2
	url = https://gitlab.com/bzip2/bzip2.git
[submodule "compression_libraries/c-blosc2_/c-blosc2"]
	path = compression_libraries/c-blosc2_/c-blosc2
	url = https://github.com/Blosc/c-blosc2.git
[submodule "compression_libraries/density_/density"]
	path = compression_libraries/density_/density
	url = https://github.com/k0dai/density.git
[submodule "compression_libraries/libdeflate_/libdeflate"]
	path = compression_libraries/libdeflate_/libdeflate
	url = https://github.com/ebiggers/libdeflate.git
[submodule "compression_libraries/lzfse_/lzfse"]
	path = compression_libraries/lzfse_/lzfse
	url = https://github.com/lzfse/lzfse.git
[submodule "compression_libraries/lzma_/xz"]
	path = compression_libraries/lzma_/xz
	url = https://git.tukaani.org/xz.git
[submodule "compression_libraries/lzo_/lzo"]
	path = compression_libraries/lzo_/lzo
	url = https://github.com/nemequ/lzo.git
[submodule "compression_libraries/ms_/ms-compress"]
	path = compression_libraries/ms_/ms-compress
	url = https://github.com/coderforlife/ms-compress.git
[submodule "compression_libraries/snappy_/snappy"]
	path = compression_libraries/snappy_/snappy
	url = https://github.com/google/snappy.git
[submodule "compression_libraries/xpack_/xpack"]
	path = compression_libraries/xpack_/xpack
	url = https://github.com/ebiggers/xpack.git
[submodule "compression_libraries/zlib_/zlib"]
	path = compression_libraries/zlib_/zlib
	url = https://github.com/madler/zlib.git
[submodule "compression_libraries/zlib-ng_/zlib-ng"]
	path = compression_libraries/zlib-ng_/zlib-ng
	url = https://github.com/Dead2/zlib-ng.git
[submodule "compression_libraries/zstd_/zstd"]
	path = compression_libraries/zstd_/zstd
	url = https://github.com/facebook/zstd.git
[submodule "compression_libraries/fari_/FastARI"]
	path = compression_libraries/fari_/FastARI
	url = https://github.com/davidcatt/FastARI.git
[submodule "compression_libraries/flz_/fastlz"]
	path = compression_libraries/flz_/fastlz
	url = https://github.com/svn2github/fastlz.git
[submodule "compression_libraries/gipfeli_/gipfeli"]
	path = compression_libraries/gipfeli_/gipfeli
	url = https://github.com/google/gipfeli.git
[submodule "compression_libraries/lzf_/liblzf"]
	path = compression_libraries/lzf_/liblzf
	url = https://github.com/nemequ/liblzf.git
[submodule "compression_libraries/lzjb_/lzjb"]
	path = compression_libraries/lzjb_/lzjb
	url = https://github.com/nemequ/lzjb.git
[submodule "compression_libraries/wflz_/wflz"]
	path = compression_libraries/wflz_/wflz
	url = https://github.com/ShaneYCG/wflz.git
[submodule "compression_libraries/yalz77_/yalz77"]
	path = compression_libraries/yalz77_/yalz77
	url = https://bitbucket.org/tkatchev/yalz77.git
[submodule "compression_libraries/zpaq_/zpaq"]
	path = compression_libraries/zpaq_/zpaq
	url = https://github.com/zpaq/zpaq.git
[submodule "compression_libraries/lzham_/lzham_codec_devel"]
	path = compression_libraries/lzham_/lzham_codec_devel
	url = https://github.com/richgel999/lzham_codec_devel.git
[submodule "compression_libraries/libbsc_/libbsc"]
	path = compression_libraries/libbsc_/libbsc
	url = https://github.com/IlyaGrebnov/libbsc.git
[submodule "compression_libraries/heatshrink_/heatshrink"]
	path = compression_libraries/heatshrink_/heatshrink
	url = https://github.com/atomicobject/heatshrink.git
[submodule "compression_libraries/zling_/libzling"]
	path = compression_libraries/zling_/libzling
	url = https://github.com/richox/libzling.git
[submodule "compression_libraries/csc_/CSC"]
	path = compression_libraries/csc_/CSC
	url = https://github.com/fusiyuan2010/CSC.git
[submodule "compression_libraries/lz4_/lz4"]
	path = compression_libraries/lz4_/lz4
	url = https://github.com/lz4/lz4.git
[submodule "compression_libraries/miniz_/miniz"]
	path = compression_libraries/miniz_/miniz
	url = https://github.com/richgel999/miniz.git
[submodule "compression_libraries/liblzg_/liblzg"]
	path = compression_libraries/liblzg_/liblzg
	url = https://github.com/mbitsnbites/liblzg.git
[submodule "compression_libraries/fse_/FiniteStateEntropy"]
	path = compression_libraries/fse_/FiniteStateEntropy
	url = https://github.com/Cyan4973/FiniteStateEntropy.git
[submodule "compression_libraries/lodepng_/lodepng"]
	path = compression_libraries/lodepng_/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "compression_libraries/flzma2_/fast-lzma2"]
	path = compression_libraries/flzma2_/fast-lzma2
	url = https://github.com/conor42/fast-lzma2.git
[submodule "compression_libraries/lizard_/lizard"]
	path = compression_libraries/lizard_/lizard
	url = https://github.com/inikep/lizard.git
